/* Global */
body {
    text-align: justify;
    max-width: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.image .post {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container {
    background: white;
    position: relative;
    width: 1440px;
    height: 960px;
    
}

.image {
    position: absolute;
    width: 505px;
    height: 330px;
    left: 230px;
    top: 96px;
}

.post {
    display: flex;
    
}

.post .post-text .post-title {
    position: absolute;
    padding-left: 40px;
    width: 380px;
    height: 50px;
    left: calc(50% - 380px/2 + 300px);
    top: calc(50% - 50px/2 - 319px);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 120%;
    color: #121212;
}

.post .post-text .post-content {
    position: absolute;
    width: 380px;
    height: 96px;
    padding-left: 40px;
    left: calc(50% - 380px/2 + 300px);
    top: calc(50% - 96px/2 - 222px);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #121212;
}

.button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 40px;
    gap: 10px;
    position: absolute;
    width: 128px;
    height: 48px;
    left: 830px;
    top: 338px;
    background: #E4C1AE;
    border-radius: 32px;

}

.button .button-text {
    width: 48px;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}


.popup-background{
    visibility: hidden;
}

.popup-background::after {
    position: absolute;
    width: 100%;
    height: 960px;
    left: 0px;
    top: 0px;
    background: #121212;
    opacity: 0.5;
 }

.popup-content{
    visibility: hidden;
}

.popup-content::after {
    position: absolute;
    width: 920px;
    height: 210px;
    left: 260px;
    top: 375px;
    background: #FFFFFF;
 }

.show {
    visibility: visible;
  }
  
.popup-content h2 {
    position: absolute;
    width: 380px;
    height: 50px;
    left: calc(50% - 380px/2 - 175px);
    top: calc(50% - 50px/2 - 24px);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 120%;
    color: #121212;
 }

 .popup .popup-content h6 {
    position: absolute;
    width: 380px;
    height: 24px;
    left: calc(50% - 380px/2 - 175px);
    top: calc(50% - 24px/2 + 37px);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #121212;
 }


@media (min-width: 768px) and (max-width: 991px) {
    .image .post {
        flex-direction: column;
    }

    .image {
        max-width: 100%;
        height: 150px;
        position: relative;
        padding: 0;
    }
    
    .image:after {
        max-width: 100%;
        height: 150px;
        position: absolute;
    }

    
}